In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf

In [2]:
data=pd.read_csv("C:/Users/HP/Desktop/Churn_Modelling for ANN.csv")
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
#data.drop("RowNumber", axis=1, inplace=True)
#data.drop("CustomerId", axis=1, inplace=True)
#data.drop("Surname", axis=1, inplace=True)
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [5]:
#X=data.iloc[:,0:10].values
#Y=data.iloc[:,-1].values

#dataset = pd.read_csv('Churn_Modelling.csv')
X = data.iloc[:, 3:-1].values
y = data.iloc[:, -1].values

In [6]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
X[:,2]=le.fit_transform(X[:,2])

In [7]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct=ColumnTransformer(transformers=[("encode",OneHotEncoder(),[1])],remainder='passthrough')
X=np.array(ct.fit_transform(X))
print(X)

[[1.0 0.0 0.0 ... 1 1 101348.88]
 [0.0 0.0 1.0 ... 0 1 112542.58]
 [1.0 0.0 0.0 ... 1 0 113931.57]
 ...
 [1.0 0.0 0.0 ... 0 1 42085.58]
 [0.0 1.0 0.0 ... 1 0 92888.52]
 [1.0 0.0 0.0 ... 1 0 38190.78]]

In [9]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,y,test_size=0.2,random_state=0)

In [10]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.transform(X_test)

# Initialize ANN

In [11]:
ann=tf.keras.models.Sequential()
#adding input layer and first hidden layer
ann.add(tf.keras.layers.Dense(units=6,activation='relu'))
#adding the second hidden layer
ann.add(tf.keras.layers.Dense(units=6,activation='relu'))
#adding the output layer
ann.add(tf.keras.layers.Dense(units=1,activation='sigmoid'))

## Compiling the ANN

In [12]:
ann.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

## Trainig the ANN model on training set

In [13]:
#neural network has to be trained over a certain epoches to improve the accuracy over time
ann.fit(X_train,Y_train,batch_size=32,epochs=100)

Epoch 1/100
250/250 [==============================] - 2s 4ms/step - loss: 0.5785 - accuracy: 0.7283
Epoch 2/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4765 - accuracy: 0.7986
Epoch 3/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4506 - accuracy: 0.8037
Epoch 4/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4383 - accuracy: 0.8066
Epoch 5/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4301 - accuracy: 0.8096
Epoch 6/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4234 - accuracy: 0.8119
Epoch 7/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4173 - accuracy: 0.8142
Epoch 8/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4115 - accuracy: 0.8165
Epoch 9/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4059 - accuracy: 0.8171
Epoch 10/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4001 - accuracy: 0.8205
Epoch 11/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3950 - accuracy: 0.8221
Epoch 12/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3903 - accuracy: 0.8255
Epoch 13/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3856 - accuracy: 0.8275: 0s - loss: 0.3856 - accuracy: 0.82
Epoch 14/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3822 - accuracy: 0.8284: 0s - loss: 0.3820 - accuracy: 0.
Epoch 15/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3786 - accuracy: 0.8298
Epoch 16/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3755 - accuracy: 0.8406
Epoch 17/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3731 - accuracy: 0.8422
Epoch 18/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3704 - accuracy: 0.8439
Epoch 19/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3682 - accuracy: 0.8478
Epoch 20/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3658 - accuracy: 0.8501
Epoch 21/100
250/250 [==============================] - ETA: 0s - loss: 0.3640 - accuracy: 0.85 - 0s 2ms/step - loss: 0.3640 - accuracy: 0.8508
Epoch 22/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3621 - accuracy: 0.8505
Epoch 23/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3609 - accuracy: 0.8525
Epoch 24/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3589 - accuracy: 0.8536
Epoch 25/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3579 - accuracy: 0.8544
Epoch 26/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3573 - accuracy: 0.8554
Epoch 27/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3558 - accuracy: 0.8530
Epoch 28/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3552 - accuracy: 0.8555
Epoch 29/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3541 - accuracy: 0.8569
Epoch 30/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3532 - accuracy: 0.8564
Epoch 31/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3529 - accuracy: 0.8565
Epoch 32/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3517 - accuracy: 0.8577
Epoch 33/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3513 - accuracy: 0.8581
Epoch 34/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3506 - accuracy: 0.8577
Epoch 35/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3502 - accuracy: 0.8591
Epoch 36/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3494 - accuracy: 0.8584
Epoch 37/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3492 - accuracy: 0.8572: 0s - loss: 0.3505 - accuracy: 0.
Epoch 38/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3488 - accuracy: 0.8586
Epoch 39/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3483 - accuracy: 0.8604
Epoch 40/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3479 - accuracy: 0.8591: 0s - loss: 0.3456 - accuracy: 0.
Epoch 41/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3475 - accuracy: 0.8596
Epoch 42/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3469 - accuracy: 0.8591
Epoch 43/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3470 - accuracy: 0.8597
Epoch 44/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3464 - accuracy: 0.8612
Epoch 45/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3463 - accuracy: 0.8608
Epoch 46/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3458 - accuracy: 0.8606
Epoch 47/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3457 - accuracy: 0.8618
Epoch 48/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3454 - accuracy: 0.8597
Epoch 49/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3447 - accuracy: 0.8597
Epoch 50/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3443 - accuracy: 0.8620
Epoch 51/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3441 - accuracy: 0.8604
Epoch 52/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3440 - accuracy: 0.8611
Epoch 53/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3436 - accuracy: 0.8605
Epoch 54/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3429 - accuracy: 0.8610: 0s - loss: 0.3364 - accura
Epoch 55/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3427 - accuracy: 0.8618
Epoch 56/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3425 - accuracy: 0.8609
Epoch 57/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3424 - accuracy: 0.8611
Epoch 58/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3419 - accuracy: 0.8615
Epoch 59/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3419 - accuracy: 0.8618
Epoch 60/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3413 - accuracy: 0.8618
Epoch 61/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3414 - accuracy: 0.8622: 0s - loss: 0.3236 - ac
Epoch 62/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3408 - accuracy: 0.8624
Epoch 63/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3407 - accuracy: 0.8625
Epoch 64/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3406 - accuracy: 0.8627
Epoch 65/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3401 - accuracy: 0.8619
Epoch 66/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3398 - accuracy: 0.8626
Epoch 67/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3397 - accuracy: 0.8629: 0s - loss: 0.3411 - accuracy: 0.86
Epoch 68/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3392 - accuracy: 0.8627
Epoch 69/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3392 - accuracy: 0.8627
Epoch 70/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3384 - accuracy: 0.8637
Epoch 71/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3385 - accuracy: 0.8631
Epoch 72/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3383 - accuracy: 0.8618
Epoch 73/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3382 - accuracy: 0.8637
Epoch 74/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3380 - accuracy: 0.8643
Epoch 75/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3377 - accuracy: 0.8651
Epoch 76/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3374 - accuracy: 0.8633
Epoch 77/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3372 - accuracy: 0.8636
Epoch 78/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3375 - accuracy: 0.8646: 0s - loss: 0.3396 - accuracy:
Epoch 79/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3367 - accuracy: 0.8643
Epoch 80/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3371 - accuracy: 0.8639: 0s - loss: 0.3442 - ac
Epoch 81/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3366 - accuracy: 0.8639
Epoch 82/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3369 - accuracy: 0.8651
Epoch 83/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3364 - accuracy: 0.8641
Epoch 84/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3365 - accuracy: 0.8649
Epoch 85/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3360 - accuracy: 0.8645
Epoch 86/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3360 - accuracy: 0.8656
Epoch 87/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3359 - accuracy: 0.8649
Epoch 88/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3359 - accuracy: 0.8650
Epoch 89/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3356 - accuracy: 0.8659
Epoch 90/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3355 - accuracy: 0.8645
Epoch 91/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3351 - accuracy: 0.8652
Epoch 92/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3352 - accuracy: 0.8651
Epoch 93/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3350 - accuracy: 0.8646
Epoch 94/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3351 - accuracy: 0.8652
Epoch 95/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3350 - accuracy: 0.8634
Epoch 96/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3348 - accuracy: 0.8655
Epoch 97/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3348 - accuracy: 0.8649
Epoch 98/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3345 - accuracy: 0.8651
Epoch 99/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3349 - accuracy: 0.8654
Epoch 100/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3347 - accuracy: 0.8648

## Making the predictions and evaluating the model

In [24]:
Value=ann.predict(sc.transform([[1,0,0,600,1,40,3,60000,2,1,1,50000]]))
Value=Value[0][0]
if Value < 0.5:
    print('customer will leave')
else:
    print('customer stay')

customer will leave

## predicting the test set result

In [18]:
y_pred=ann.predict(X_test)
y_pred=(y_pred>0.5)
print(y_pred)

[[False]
 [False]
 [False]
 ...
 [False]
 [False]
 [False]]

In [19]:
print(np.concatenate((y_pred.reshape(len(y_pred),1), Y_test.reshape(len(Y_test),1)),1))

[[0 0]
 [0 1]
 [0 0]
 ...
 [0 0]
 [0 0]
 [0 0]]

## Making a confusion matrix

In [20]:
from sklearn.metrics import confusion_matrix,accuracy_score
cm=confusion_matrix(Y_test,y_pred)
print(cm)
accuracy_score(Y_test,y_pred)

[[1509   86]
 [ 199  206]]

0.8575