In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf

WARNING:tensorflow:From C:\Users\MrGoku\AppData\Roaming\Python\Python311\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [2]:
data=pd.read_csv("Churn_Modelling.csv")
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
#data.drop("RowNumber", axis=1, inplace=True)
#data.drop("CustomerId", axis=1, inplace=True)
#data.drop("Surname", axis=1, inplace=True)
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
#X=data.iloc[:,0:10].values
#Y=data.iloc[:,-1].values

#dataset = pd.read_csv('Churn_Modelling.csv')
X = data.iloc[:, 3:-1].values
y = data.iloc[:, -1].values

In [5]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
X[:,2]=le.fit_transform(X[:,2])

In [6]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct=ColumnTransformer(transformers=[("encode",OneHotEncoder(),[1])],remainder='passthrough')
X=np.array(ct.fit_transform(X))
print(X)

[[1.0 0.0 0.0 ... 1 1 101348.88]
 [0.0 0.0 1.0 ... 0 1 112542.58]
 [1.0 0.0 0.0 ... 1 0 113931.57]
 ...
 [1.0 0.0 0.0 ... 0 1 42085.58]
 [0.0 1.0 0.0 ... 1 0 92888.52]
 [1.0 0.0 0.0 ... 1 0 38190.78]]

In [7]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,y,test_size=0.2,random_state=0)

In [8]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.transform(X_test)

# Initialize ANN

In [9]:
ann=tf.keras.models.Sequential()
#adding input layer and first hidden layer
ann.add(tf.keras.layers.Dense(units=6,activation='relu'))
#adding the second hidden layer
ann.add(tf.keras.layers.Dense(units=6,activation='relu'))
#adding the output layer
ann.add(tf.keras.layers.Dense(units=1,activation='sigmoid'))

WARNING:tensorflow:From C:\Users\MrGoku\AppData\Roaming\Python\Python311\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

## Compiling the ANN

In [10]:
ann.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

WARNING:tensorflow:From C:\Users\MrGoku\AppData\Roaming\Python\Python311\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

## Trainig the ANN model on training set

In [11]:
#neural network has to be trained over a certain epoches to improve the accuracy over time
ann.fit(X_train,Y_train,batch_size=32,epochs=100)

Epoch 1/100
WARNING:tensorflow:From C:\Users\MrGoku\AppData\Roaming\Python\Python311\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From C:\Users\MrGoku\AppData\Roaming\Python\Python311\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

250/250 [==============================] - 1s 1ms/step - loss: 0.7491 - accuracy: 0.4891
Epoch 2/100
250/250 [==============================] - 0s 942us/step - loss: 0.5198 - accuracy: 0.7944
Epoch 3/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4612 - accuracy: 0.8092
Epoch 4/100
250/250 [==============================] - 0s 963us/step - loss: 0.4386 - accuracy: 0.8164
Epoch 5/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4260 - accuracy: 0.8173
Epoch 6/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4144 - accuracy: 0.8194
Epoch 7/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4011 - accuracy: 0.8256
Epoch 8/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3879 - accuracy: 0.8321
Epoch 9/100
250/250 [==============================] - 0s 992us/step - loss: 0.3764 - accuracy: 0.8396
Epoch 10/100
250/250 [==============================] - 0s 967us/step - loss: 0.3680 - accuracy: 0.8459
Epoch 11/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3624 - accuracy: 0.8469
Epoch 12/100
250/250 [==============================] - 0s 998us/step - loss: 0.3582 - accuracy: 0.8505
Epoch 13/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3555 - accuracy: 0.8505
Epoch 14/100
250/250 [==============================] - 0s 943us/step - loss: 0.3530 - accuracy: 0.8545
Epoch 15/100
250/250 [==============================] - 0s 889us/step - loss: 0.3511 - accuracy: 0.8541
Epoch 16/100
250/250 [==============================] - 0s 950us/step - loss: 0.3497 - accuracy: 0.8541
Epoch 17/100
250/250 [==============================] - 0s 996us/step - loss: 0.3484 - accuracy: 0.8574
Epoch 18/100
250/250 [==============================] - 0s 966us/step - loss: 0.3473 - accuracy: 0.8547
Epoch 19/100
250/250 [==============================] - 0s 943us/step - loss: 0.3460 - accuracy: 0.8584
Epoch 20/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3453 - accuracy: 0.8566
Epoch 21/100
250/250 [==============================] - 0s 963us/step - loss: 0.3445 - accuracy: 0.8585
Epoch 22/100
250/250 [==============================] - 0s 998us/step - loss: 0.3438 - accuracy: 0.8591
Epoch 23/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3433 - accuracy: 0.8589
Epoch 24/100
250/250 [==============================] - 0s 949us/step - loss: 0.3426 - accuracy: 0.8597
Epoch 25/100
250/250 [==============================] - 0s 926us/step - loss: 0.3421 - accuracy: 0.8610
Epoch 26/100
250/250 [==============================] - 0s 947us/step - loss: 0.3416 - accuracy: 0.8601
Epoch 27/100
250/250 [==============================] - 0s 930us/step - loss: 0.3410 - accuracy: 0.8593
Epoch 28/100
250/250 [==============================] - 0s 931us/step - loss: 0.3407 - accuracy: 0.8595
Epoch 29/100
250/250 [==============================] - 0s 939us/step - loss: 0.3404 - accuracy: 0.8599
Epoch 30/100
250/250 [==============================] - 0s 927us/step - loss: 0.3397 - accuracy: 0.8615
Epoch 31/100
250/250 [==============================] - 0s 943us/step - loss: 0.3391 - accuracy: 0.8614
Epoch 32/100
250/250 [==============================] - 0s 923us/step - loss: 0.3389 - accuracy: 0.8614
Epoch 33/100
250/250 [==============================] - 0s 932us/step - loss: 0.3387 - accuracy: 0.8600
Epoch 34/100
250/250 [==============================] - 0s 939us/step - loss: 0.3383 - accuracy: 0.8611
Epoch 35/100
250/250 [==============================] - 0s 949us/step - loss: 0.3384 - accuracy: 0.8600
Epoch 36/100
250/250 [==============================] - 0s 927us/step - loss: 0.3376 - accuracy: 0.8611
Epoch 37/100
250/250 [==============================] - 0s 943us/step - loss: 0.3377 - accuracy: 0.8609
Epoch 38/100
250/250 [==============================] - 0s 954us/step - loss: 0.3374 - accuracy: 0.8616
Epoch 39/100
250/250 [==============================] - 0s 974us/step - loss: 0.3370 - accuracy: 0.8618
Epoch 40/100
250/250 [==============================] - 0s 949us/step - loss: 0.3368 - accuracy: 0.8625
Epoch 41/100
250/250 [==============================] - 0s 944us/step - loss: 0.3365 - accuracy: 0.8612
Epoch 42/100
250/250 [==============================] - 0s 961us/step - loss: 0.3358 - accuracy: 0.8624
Epoch 43/100
250/250 [==============================] - 0s 920us/step - loss: 0.3356 - accuracy: 0.8625
Epoch 44/100
250/250 [==============================] - 0s 930us/step - loss: 0.3354 - accuracy: 0.8612
Epoch 45/100
250/250 [==============================] - 0s 939us/step - loss: 0.3350 - accuracy: 0.8624
Epoch 46/100
250/250 [==============================] - 0s 952us/step - loss: 0.3347 - accuracy: 0.8622
Epoch 47/100
250/250 [==============================] - 0s 962us/step - loss: 0.3348 - accuracy: 0.8625
Epoch 48/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3343 - accuracy: 0.8634
Epoch 49/100
250/250 [==============================] - 0s 963us/step - loss: 0.3342 - accuracy: 0.8640
Epoch 50/100
250/250 [==============================] - 0s 938us/step - loss: 0.3342 - accuracy: 0.8622
Epoch 51/100
250/250 [==============================] - 0s 941us/step - loss: 0.3338 - accuracy: 0.8640
Epoch 52/100
250/250 [==============================] - 0s 923us/step - loss: 0.3332 - accuracy: 0.8635
Epoch 53/100
250/250 [==============================] - 0s 951us/step - loss: 0.3333 - accuracy: 0.8634
Epoch 54/100
250/250 [==============================] - 0s 952us/step - loss: 0.3334 - accuracy: 0.8626
Epoch 55/100
250/250 [==============================] - 0s 976us/step - loss: 0.3337 - accuracy: 0.8631
Epoch 56/100
250/250 [==============================] - 0s 975us/step - loss: 0.3333 - accuracy: 0.8620
Epoch 57/100
250/250 [==============================] - 0s 951us/step - loss: 0.3331 - accuracy: 0.8634
Epoch 58/100
250/250 [==============================] - 0s 950us/step - loss: 0.3328 - accuracy: 0.8639
Epoch 59/100
250/250 [==============================] - 0s 966us/step - loss: 0.3330 - accuracy: 0.8622
Epoch 60/100
250/250 [==============================] - 0s 936us/step - loss: 0.3325 - accuracy: 0.8649
Epoch 61/100
250/250 [==============================] - 0s 922us/step - loss: 0.3323 - accuracy: 0.8646
Epoch 62/100
250/250 [==============================] - 0s 941us/step - loss: 0.3328 - accuracy: 0.8624
Epoch 63/100
250/250 [==============================] - 0s 950us/step - loss: 0.3325 - accuracy: 0.8630
Epoch 64/100
250/250 [==============================] - 0s 964us/step - loss: 0.3328 - accuracy: 0.8616
Epoch 65/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3324 - accuracy: 0.8641
Epoch 66/100
250/250 [==============================] - 0s 962us/step - loss: 0.3323 - accuracy: 0.8616
Epoch 67/100
250/250 [==============================] - 0s 992us/step - loss: 0.3321 - accuracy: 0.8627
Epoch 68/100
250/250 [==============================] - 0s 973us/step - loss: 0.3319 - accuracy: 0.8639
Epoch 69/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3321 - accuracy: 0.8629
Epoch 70/100
250/250 [==============================] - 0s 921us/step - loss: 0.3320 - accuracy: 0.8624
Epoch 71/100
250/250 [==============================] - 0s 953us/step - loss: 0.3320 - accuracy: 0.8629
Epoch 72/100
250/250 [==============================] - 0s 950us/step - loss: 0.3315 - accuracy: 0.8624
Epoch 73/100
250/250 [==============================] - 0s 963us/step - loss: 0.3316 - accuracy: 0.8640
Epoch 74/100
250/250 [==============================] - 0s 916us/step - loss: 0.3311 - accuracy: 0.8640
Epoch 75/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3317 - accuracy: 0.8637
Epoch 76/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3313 - accuracy: 0.8643
Epoch 77/100
250/250 [==============================] - 0s 953us/step - loss: 0.3313 - accuracy: 0.8643
Epoch 78/100
250/250 [==============================] - 0s 934us/step - loss: 0.3312 - accuracy: 0.8655
Epoch 79/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3314 - accuracy: 0.8640
Epoch 80/100
250/250 [==============================] - 0s 970us/step - loss: 0.3315 - accuracy: 0.8618
Epoch 81/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3310 - accuracy: 0.8634
Epoch 82/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3306 - accuracy: 0.8635
Epoch 83/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3309 - accuracy: 0.8651
Epoch 84/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3308 - accuracy: 0.8637
Epoch 85/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3306 - accuracy: 0.8634
Epoch 86/100
250/250 [==============================] - 0s 998us/step - loss: 0.3307 - accuracy: 0.8626
Epoch 87/100
250/250 [==============================] - 0s 976us/step - loss: 0.3305 - accuracy: 0.8635
Epoch 88/100
250/250 [==============================] - 0s 970us/step - loss: 0.3299 - accuracy: 0.8629
Epoch 89/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3308 - accuracy: 0.8641
Epoch 90/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3306 - accuracy: 0.8651
Epoch 91/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3303 - accuracy: 0.8641
Epoch 92/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3305 - accuracy: 0.8644
Epoch 93/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3304 - accuracy: 0.8640
Epoch 94/100
250/250 [==============================] - 0s 995us/step - loss: 0.3303 - accuracy: 0.8644
Epoch 95/100
250/250 [==============================] - 0s 973us/step - loss: 0.3302 - accuracy: 0.8633
Epoch 96/100
250/250 [==============================] - 0s 959us/step - loss: 0.3300 - accuracy: 0.8649
Epoch 97/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3305 - accuracy: 0.8629
Epoch 98/100
250/250 [==============================] - 0s 999us/step - loss: 0.3300 - accuracy: 0.8637
Epoch 99/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3299 - accuracy: 0.8630
Epoch 100/100
250/250 [==============================] - 0s 974us/step - loss: 0.3299 - accuracy: 0.8645

## Making the predictions and evaluating the model

In [12]:
Value=ann.predict(sc.transform([[1,0,0,600,1,40,3,60000,2,1,1,50000]]))
Value=Value[0][0]
if Value < 0.5:
    print('customer will leave')
else:
    print('customer stay')

1/1 [==============================] - 0s 98ms/step
customer will leave

## predicting the test set result

In [13]:
y_pred=ann.predict(X_test)
y_pred=(y_pred>0.5)
print(y_pred)

63/63 [==============================] - 0s 2ms/step
[[False]
 [False]
 [False]
 ...
 [False]
 [False]
 [False]]

In [14]:
print(np.concatenate((y_pred.reshape(len(y_pred),1), Y_test.reshape(len(Y_test),1)),1))

[[0 0]
 [0 1]
 [0 0]
 ...
 [0 0]
 [0 0]
 [0 0]]

## Making a confusion matrix

In [15]:
from sklearn.metrics import confusion_matrix,accuracy_score
cm=confusion_matrix(Y_test,y_pred)
print(cm)
accuracy_score(Y_test,y_pred)

[[1528   67]
 [ 203  202]]

0.865